Flask==2.3.3
gunicorn==21.2.0
supabase==1.0.3
python-dotenv==1.0.1
PyMuPDF==1.23.7
qrcode==7.3.1
vonage==3.1.0
fastapi
aiogram
supabase
PyMuPDF==1.21.1
uvicorn
python-multipart
aiohttp
Flask==2.3.3
gunicorn==21.2.0
reportlab==4.0.5
python-dotenv==1.0.1
qrcode==7.3.1
apscheduler==3.10.4
openpyxl==3.1.2
xlsxwriter==3.2.0
