<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel de Administrador</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
  <header>
    <h1>Validación Vehicular MX</h1>
  </header>

  <main>
    <h2>Bienvenido, administrador</h2>

    <div class="botones-panel">
      <a href="{{ url_for('registro_admin') }}" class="btn">Registrar Folio</a>
      <a href="{{ url_for('consulta') }}" class="btn">Consultar Folio</a>
      <a href="{{ url_for('logout') }}" class="btn btn-salir">Cerrar sesión</a>
    </div>
  </main>

  <footer>
    <p>Documento digital válido en todo México</p>
  </footer>
</body>
</html>
